<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ernest Bieś</title>
</head>
<body>

<div class="row">
  <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet lectus ac turpis efficitur placerat.
    Vestibulum neque leo, hendrerit at lorem non, fermentum sollicitudin justo. Vestibulum et nunc et augue lobortis
    aliquet at vitae urna. Pellentesque odio mi, posuere eu nisi ac, sollicitudin tincidunt ligula. Nullam sit amet
    nisi lorem. Nam tincidunt dapibus rutrum. Etiam at lorem arcu. Vestibulum facilisis dolor vel egestas sagittis.
    Duis tincidunt felis dui, vitae aliquet ante sodales eu. Vivamus ornare dolor vehicula sapien finibus blandit.
    Nunc in enim vitae augue laoreet convallis.
    Vestibulum non sapien id ante dapibus pretium. Mauris ut sapien tellus. Fusce porttitor risus non tincidunt
    varius. Ut commodo tempus tempor. Vivamus quis dui sapien. Donec mattis pulvinar purus eu placerat. Nullam ac
    arcu tempus, blandit libero ut, semper magna. Ut tempor ex efficitur, ultrices turpis ac, sollicitudin diam.
    Curabitur dolor libero, semper vel imperdiet ut, aliquet et massa. Etiam efficitur at magna sed maximus.
    Pellentesque consectetur non leo eget feugiat.
    Morbi rhoncus ornare mollis. Phasellus eu arcu finibus, euismod ex quis, laoreet mi. Morbi diam mi, luctus a
    malesuada eget, vulputate et nisl. Quisque iaculis bibendum sapien id pulvinar. Donec porta nunc et mi
    consectetur, sodales varius enim lacinia. Ut in erat a quam accumsan facilisis nec at nisl. Curabitur volutpat
    volutpat magna, posuere volutpat metus convallis eget. Pellentesque quis iaculis orci. Nullam eget elit euismod,
    ornare purus id, imperdiet turpis. In placerat gravida maximus. Pellentesque tincidunt, nisl in efficitur
    iaculis, erat nibh rhoncus quam, eget facilisis libero magna sit amet leo. Nullam convallis lectus metus,
    volutpat finibus leo elementum vitae. Etiam venenatis eget elit id tristique. Curabitur nec vehicula lectus.
    Vestibulum tempus, justo ac iaculis dapibus, diam neque finibus ligula, quis varius elit felis vel arcu.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet lectus ac turpis efficitur placerat.
    Vestibulum neque leo, hendrerit at lorem non, fermentum sollicitudin justo. Vestibulum et nunc et augue lobortis
    aliquet at vitae urna. Pellentesque odio mi, posuere eu nisi ac, sollicitudin tincidunt ligula. Nullam sit amet
    nisi lorem. Nam tincidunt dapibus rutrum. Etiam at lorem arcu. Vestibulum facilisis dolor vel egestas sagittis.
    Duis tincidunt felis dui, vitae aliquet ante sodales eu. Vivamus ornare dolor vehicula sapien finibus blandit.
    Nunc in enim vitae augue laoreet convallis.
    Vestibulum non sapien id ante dapibus pretium. Mauris ut sapien tellus. Fusce porttitor risus non tincidunt
    varius. Ut commodo tempus tempor. Vivamus quis dui sapien. Donec mattis pulvinar purus eu placerat. Nullam ac
    arcu tempus, blandit libero ut, semper magna. Ut tempor ex efficitur, ultrices turpis ac, sollicitudin diam.
    Curabitur dolor libero, semper vel imperdiet ut, aliquet et massa. Etiam efficitur at magna sed maximus.
    Pellentesque consectetur non leo eget feugiat.
    Morbi rhoncus ornare mollis. Phasellus eu arcu finibus, euismod ex quis, laoreet mi. Morbi diam mi, luctus a
    malesuada eget, vulputate et nisl. Quisque iaculis bibendum sapien id pulvinar. Donec porta nunc et mi
    consectetur, sodales varius enim lacinia. Ut in erat a quam accumsan facilisis nec at nisl. Curabitur volutpat
    volutpat magna, posuere volutpat metus convallis eget. Pellentesque quis iaculis orci. Nullam eget elit euismod,
    ornare purus id, imperdiet turpis. In placerat gravida maximus. Pellentesque tincidunt, nisl in efficitur
    iaculis, erat nibh rhoncus quam, eget facilisis libero magna sit amet leo. Nullam convallis lectus metus,
    volutpat finibus leo elementum vitae. Etiam venenatis eget elit id tristique. Curabitur nec vehicula lectus.
    Vestibulum tempus, justo ac iaculis dapibus, diam neque finibus ligula, quis varius elit felis vel arcu.
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <h3>Szybki kontakt</h3>
    <i class="fa fa-facebook-official"></i> <span>Facebook</span> <br>
    <i class="fa fa-instagram"></i> <span>Instagram</span> <br>
    <i class="fa fa-envelope-open"></i> <span>E-mail</span>
  </div>
</div>

<footer class="footerClass">
  <p>Copyrights &copy; | Ernest Bieś 2020</p>
</footer>
</body>
</html>
