<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ernest Bieś</title>
</head>
<body>

<div class="form">
  <form>
    <fieldset>
      <legend class="w-auto">Uzupełnij dane:</legend>
      <div class="form-group">
        <label for="firstName">Imię:</label>
        <input type="text" id="firstName" name="firstName" placeholder="Podaj imie" class="rounded">
      </div>
      <div class="form-group">
        <label for="surname">Nazwisko:</label>
        <input type="text" id="surname" name="surname" placeholder="Podaj nazwisko" class="rounded">
      </div>
      <div class="form-group">
        <label for="em">E-mail:</label>
        <input type="email" id="em" name="em" placeholder="Podaj e-mail" class="rounded">
      </div>
      <div class="form-group">
        <label id="gender">Płeć:</label><br>
        <input type="radio" id="man" name="gender" title="man" aria-labelledby='gender' checked>Mężczyzna
        <input type="radio" id="woman" name="gender" title="woman" aria-labelledby='gender'>Kobieta
      </div>
      <div class="form-group">
        <label for="description">Opis:</label><br>
        <textarea rows="4" cols="50" id="description" class="rounded"></textarea>
      </div>
      <div class="form-group">
        <label for="age">Wiek:</label>
        <input type="number" step="1" min="1" value="1" id="age"/>
      </div>
      <div class="form-group">
        <label for="maritalStatus">Stan cywilny:</label>
        <select id="maritalStatus" class="rounded">
          <option value="Panna/Kawaler">Panna/Kawaler</option>
          <option value="Zamężna/Zamężny">Zamężna/Zamężny</option>
        </select>
      </div>
      <button class="btn btn-primary" type="reset">Wyczyść</button>
      <button class="btn btn-primary" type="submit">Wyślij</button>
    </fieldset>
  </form>
</div>

<footer class="footerClass">
  <p>Copyrights &copy; | Ernest Bieś 2020</p>
</footer>
</body>
</html>
