<div class="form">
  <form class="form-horizontal" method="post" name="signup" id="signup" style="align-items: center">
    <fieldset>
      <legend class="w-auto">Rejestracja</legend>
      <div style="margin: 2rem">
        <div class="input-group" style="flex-direction: column; margin-bottom: 10px">
          <label for="mem_name">Wprowadź nazwę użytkownika: <span class="text-danger">*</span></label>
          <input type="text" class="rounded" name="mem_name" id="mem_name" placeholder="Nazwa użytkownika..." value=""
                 [(ngModel)]="credentials.name">
        </div>

        <div class="input-group" style="flex-direction: column; margin-bottom: 10px">
          <label for="emailid">Wprowadź adres e-mail: <span class="text-danger">*</span></label>
          <input type="email" class="rounded" name="emailid" id="emailid" placeholder="Adres e-mail..."
                 value="" [(ngModel)]="credentials.email">
        </div>

        <div class="input-group" style="flex-direction: column; margin-bottom: 10px">
          <label for="password">Wprowadź hasło: <span class="text-danger">*</span></label>
          <input type="password" class="rounded" name="password" id="password"
                 placeholder="Hasło (5-15 znaków)..." value="" [(ngModel)]="credentials.password">
        </div>

        <div class="input-group" style="flex-direction: column; margin-bottom: 10px">
          <label for="cpassword">Potwierdź hasło: <span class="text-danger">*</span></label>
          <input type="password" class="rounded" name="cpassword" id="cpassword"
                 placeholder="Potwierdź hasło..." value="" required [(ngModel)]="confirmPassword">
        </div>

        <div style="margin-bottom: 10px">
          <label><span class="text-danger">*</span> - pole wymagane</label>
        </div>

        <button (click)="create()" name="Submit" type="submit" class="btn btn-primary" [disabled]="!isFormValid()">Zarejestruj
        </button>
      </div>
    </fieldset>
  </form>
</div>

<scroll-to-top></scroll-to-top>

<footer class="footerClass">
  <p>Copyrights &copy; | Ernest Bieś 2020</p>
</footer>
